<!DOCTYPE html>
<html lang='fr'>
<head>

  <meta charset='utf-8'>
  <title>GPS OpenTracker</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <link rel='stylesheet' href='/static/bower_components/leaflet/dist/leaflet.css'>
    <link rel='stylesheet' href='/static/external/easy-button.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='/static/opentracker/app.css'>

</head>
<body>
	<div id='map' class='map-container'></div>

	<script src='/static/bower_components/leaflet/dist/leaflet.js'></script>
	<script src='/static/bower_components/jquery/dist/jquery.min.js'></script>
  <script src='/static/bower_components/pegasus/dist/pegasus.min.js'></script>
  <script src='/static/external/leaflet-realtime.min.js'></script>
  <script src='/static/external/easy-button.js'></script>
  <script src='/static/bower_components/underscore/underscore-min.js'></script>
  	
 	<script src='/static/opentracker/app.js'></script>

 	<script>

    	var app = new OpenTrackerApp();
    	app.init();
  	</script>

</body>
</html>